<!DOCTYPE html>
<html>
 
  
<body>


<nav>
  <img src="assets/gm.png"width="100" height="60" alt="...">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clubs" href="#">clubs</a>
      
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/coachs" href="#">coachs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" href="#">contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/tarifs" aria-disabled="true">tarifs</a>
    </li>
    <li class="nav-item">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Activities
  </a> 
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Fitness</a></li>
    <li><a class="dropdown-item" href="#">Tequindeaux</a></li>
    <li><a class="dropdown-item" href="#">Muscilation</a></li>
    <li><a class="dropdown-item" href="#">Gym</a></li>
    <li><hr class="dropdown-divider"></li>
     </ul></li>
   </ul>



</nav>





  
    <div class="ligne"></div>
</body>
</html>
